:root {
    --background: #f7f9fb;
    --surface: #ffffff;
    --text: #1c1c1c;
    --text-secondary: #999999;

    --purple: #b02fc2;
    --purple-dark: #251427;

    --bgSwitch: rgba(118, 118, 128, 0.12);

    --border: #f4f4f4;

/* ===ALTROO STYLES=== */
    --altrooBlue: #4D9AEC;
    --altrooTeal: #11B8AD;
    --altrooBlueLight: #E7EEF7;
    --altrooTealLight: #E7FDFB;
    --blackground: #1a1e24;
    --whitesheet: #f9ffff;
   
    --radius: 6px;
    --container-padding: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
}

@font-face {
    font-family: "HelveticaNeueMediumExtended";
    src: url("../assets/fonts/HelveticaNeueMediumExtended.woff2") format("woff2");
    font-weight: 500;
    font-style: medium;
    font-display: swap;
}
@font-face {
    font-family: "NewYork";
    src: url("../assets/fonts/NewYork.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RobotoBold";
    src: url("../assets/fonts/RobotoBold.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RobotoMedium";
    src: url("../assets/fonts/RobotoMedium.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RobotoRegular";
    src: url("../assets/fonts/RobotoRegular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SFProDisplayLight";
    src: url("../assets/fonts/SFProDisplayLight.woff2") format("woff2");
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: "SFProDisplayRegularItalic";
    src: url("../assets/fonts/SFProDisplayRegularItalic.woff2") format("woff2");
    font-style: italic;
    font-display: swap; 
}

@font-face {
    font-family: "Baloo2";
    src: url("../assets/fonts/Baloo2.woff2") format("woff2");
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: "SF Pro Rounded";
    src: url("../assets/fonts/SFProRounded.woff2") format("woff2");
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: "SF Pro Rounded Thin";
    src: url("../assets/fonts/SFProRoundedThin.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap; 
}

body {
    background-color: var(--background);
}

 .tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}