.experience-section {
  margin: 24px;
  padding: 52px;
  background: var(--surface);
  border-radius: var(--radius);
  text-align: left;
}

.experience-section h2 {
  font-family: "Helvetica Neue Medium Extended", sans-serif;
  font-size: clamp(18px, 1.5vw, 24px);
  font-weight: 500;
  color: var(--text);
  margin-bottom: 40px;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  align-items: flex-start;
}

.experience-card {
  height: 100%;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  border: 0.6px var(--purple) solid;
}

.experience-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.experience-card h3 {
  font-family: "RobotoBold", sans-serif;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 800;
  color: var(--text);
}

.experience-card h4 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 500;
  color: var(--text);
  margin-bottom: 0px;
}

.year {
  background: var(--purple);
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: clamp(12px, 1.5vw, 14px);
  font-weight: 300;
  white-space: nowrap;
}

.experience-card p {
  font-family: "Roboto", sans-serif;
  font-size: clamp(12px, 1.5vw, 13px);
  font-weight: 50;
  color: var(--text-secondary);
}